[user]
  name = ismailshak
  email = ismailshak94@yahoo.com
[core]
  editor = nvim
[pull]
  rebase = true
[branch]
  autoSetupRebase = always
  autoSetupMerge = always
[alias]
  aa = "add -A"
  amend = commit -a --amend --no-edit
  b = checkout -b
  cm = "commit -m"
  poh = push origin HEAD
  rh = reset --hard HEAD
  rs = reset --soft HEAD~1
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|master\\|dev' | xargs -n 1 git branch -d"
[push]
  default = current
[init]
  defaultBranch = main
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[help]
  autocorrect = 50
[core]
	editor = nvim
