[user]
  name = Ismail Elshakankiry
  email = ismailshak94@yahoo.com
[core]
  editor = nvim
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  default = current
[branch]
  autoSetupRebase = always
  autoSetupMerge = always
[fetch]
  prune = true
[diff]
  colorMoved = default
[help]
  autocorrect = 25
[alias]
  aa = "add -A"
  amend = commit -a --amend --no-edit
  b = checkout -b
  cm = "commit -m"
  poh = push origin HEAD
  rh = reset --hard HEAD
  rs = reset --soft HEAD~1
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|master\\|dev' | xargs -n 1 git branch -d"

; delta-specific config
[include]
  path = ~/code/dotfiles/.config/delta/themes.gitconfig
[core]
  pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo chameleon-dark || echo chameleon-light)"
[delta]
  features = decorations navigate
  side-by-side = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta "interactive"]
  keep-plus-minus-markers = false
