[user]
  name = Ismail Elshakankiry
  email = ismailshak94@yahoo.com

[pull]
  rebase = true
[branch]
  autosetuprebase = always
[alias]
  rh = reset --hard HEAD
  b = checkout -b
  amend = commit -a --amend --no-edit
  unstage = reset --soft HEAD
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|master\\|dev' | xargs -n 1 git branch -d"
[push]
  default = current
[init]
	defaultBranch = main
